{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <!-- CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <link rel="stylesheet" href="{% static "css/bootstrap-responsive.min.css" %}"/>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    {% block css %}{% endblock %}
    <!-- JS -->
    <script src="{% static "js/jquery-1.10.2.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <!-- navbar start -->
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">PartyKing!</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="../">Chart</a></li>
                        <li><a href="vote">Vote</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="../logout">Logout</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- navbar end -->

    <br>

    <div class="container-fluid">
            <div class="hero-unit" xmlns="http://www.w3.org/1999/html">
                <div class="row-fluid">
                    {% block herostart %}{% endblock %}
                </div>
            </div>
        {% block alert %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>